* {
  font-family: 'Pixel';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox, Safari 18.2+, Chromium 121+ */
}

@font-face {
  font-family: "Romantics";
  src: url('src/ROMANTIC.TTF') format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pixel';
  src: url('/src/LowresPixel-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Pixel';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#exp-canvas {
  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 999;
  display: none;
  background-color: black;
  color: white;
}

/* top nav */
.topnav {
  background-color: #ccccff;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-top: -4px;
}

/* topnav links */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e1d4fa;
  color: white;
}

/* active/current link */
.topnav a.active {
  background-color: #aaaaf9;
  color: white;
}

.nothing {
  color: #aaaaf9;
}

/* specifically for about.html */
.about-me-div {
  width: 60%;
  margin: 20px auto;
  margin-top: 50px;
  overflow: hidden;
  padding: 20px; 
  background-color: #aaaaf9;
  border-radius: 8px;
  text-align: center;
}

.me-image {
  width: 30%;
  height: auto;
  margin: 20px;
}

/* specifically for projects.html */
.project-div {
  width: 60%;
  height: fit-content;
  margin: 20px auto;
  margin-top: 50px;
  overflow: hidden;
  padding: 20px; 
  padding-top: 0px;
  background-color: #e1d4fa;
  border-radius: 4px;
  border-width: 10px;
  border: solid;
  border-color: #726dd3;
}

.project-left {
  margin-left: 10%;
  padding-left: 40px;
}

.project-right {
  margin-right: 10%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-bar {
  width: 100%;
  background-color: #a6a2ff;
  margin-left: -42px;
  margin-right: -42px;
  margin-bottom: 20px;
  margin-top:-2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 4px;
  border-width: 10px;
  border: solid;
  border-color: #726dd3;
}

.project-bar div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#projects-title {
  margin-top: 30px;
  text-align: center;
  font-size: 60px;
  color: white;
}

.project-img {
  height: 90%;
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.proj-flex-container {
  height: 50vh;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10%;
}

.project-right .proj-flex-container {
  justify-content: flex-end;
  gap: 10%;
}

.project-desc {
  margin-right: 50px;
}

body {
  background: linear-gradient(to bottom, #dda9fb, #edb8e4, #f9c5d2, #fecacc);
  background-size: 100% 200%;
}


/* for contact.html */

#contact-title {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
}

/* form inputs */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}

/* submit button */
input[type=submit] {
  background-color: #aaaaf9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #aaaaf9;
}

/* form container */
.container {
  border-radius: 5px;
  background-color: #ccccff;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  width: 80%;
}