* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox, Safari 18.2+, Chromium 121+ */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#exp-canvas {
  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  z-index: 999;
  display: none;
  background-color: black;
  color: white;
}

/* top nav */
.topnav {
  background-color: #ccccff;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-top: -4px;
}

/* topnav links */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #e1d4fa;
  color: white;
}

/* active/current link */
.topnav a.active {
  background-color: #aaaaf9;
  color: white;
}

.nothing {
  color: #aaaaf9;
}

/* specifically for about.html */
.about-me-div {
  width: 60%;
  margin: 20px auto;
  margin-top: 50px;
  overflow: hidden;
  padding: 20px; 
  background-color: #aaaaf9;
  border-radius: 8px;
  text-align: center;
}

.me-image {
  width: 30%;
  height: auto;
  margin: 20px;
}

/* specifically for projects.html */
.project-div {
  width: 60%;
  height: fit-content;
  margin: 20px auto;
  margin-top: 50px;
  overflow: hidden;
  padding: 20px; 
  padding-top: 0px;
  background-color: #aaaaf9;
  border-radius: 8px;
}

.project-bar {
  width: 107%;
  background-color: #e1d4fa;
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.project-bar div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#projects-title {
  margin-top: 5%;
  text-align: center;
}

.project-left {
  margin-left: 10%;
  padding-left: 40px;
}

.project-right {
  margin-right: 10%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-img {
  height: 90%;
  width: auto;
  margin-right: 20px;
}

.proj-flex-container {
  height: 50vh;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10%;
}

.project-desc {
  margin-left: 10px;
  margin-right: 30px;
}
