* {
  font-family: 'Press-Start';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox, Safari 18.2+, Chromium 121+ */
}

@font-face {
  font-family: "Romantics";
  src: url('/src/suika.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
  letter-spacing: 40px;
}

@font-face {
  font-family: 'Pixel';
  src: url('/src/LowresPixel-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair-Italic';
  src: url('/src/PlayfairDisplay-Italic.ttf') format("truetype");
}

@font-face {
  font-family: 'Press-Start';
  src: url('/src/PressStart2P-Regular.ttf') format("truetype");
}

:root {
  font-family: 'Romantics';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

#exp-canvas {
  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  z-index: 999;
  display: none;
  background-color: black;
  color: white;
}

/* top nav */
.topnav {
  background-color: #5064a7;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-top: -4px;
}

/* topnav links */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #36477a;
  color: white;
}

/* active/current link */
.topnav a.active {
  background-color: #859ada;
  color: white;
}

.nothing {
  color: #5064a7;
}

/* specifically for about.html */
.about-me-div {
  height: fit-content;
  width: 40%;
  position: relative;
  margin-top: 30px;
  left: 10%;
  transition: transform 0.6s ease-in-out;
  transform: scale(1);
}
.about-me-div:hover {
  transform: scale(1.02);
}
.about-me-div .bg {
  width: 100%;
  position: absolute;
  z-index: -10;
}
.about-me-div div {
  left: 0%;
  width: 100%;
  margin-top: 7%;
  text-align: center;
  position: absolute;
}
.about-me-div div h1 {
  font-family: "Playfair-Italic";
  color:#1700d1;
  font-weight: bolder;
  letter-spacing: 4px;
  font-size: 3vw;
  transform: translateX(-3vw);
}
.about-me-div div img {
  width: 30%;
  margin-top: 0px;
}

.tiny-img-display-div {
  height: fit-content;
  width: 15%;
  position: relative;
  margin-top: 3%;
  float: right;
  right: 15%;
 
  transform: scale(1);
  animation-name: rotate-div;
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  .slideshow {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 10%;
    object-fit: cover;
    padding: 10px;
  }
  .bg {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -10;
  display: block;
    margin: auto;
  }
}

.tiny-img-display-div:hover {
  transform: scale(1.1);
}

@keyframes rotate-div {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}

.cloud {
  width: 15%;
  animation: floatUpDown 6s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); 
  }
  100% {
    transform: translateY(0); 
  }
}

.giant_2d_stars {
  position: absolute;
  z-index: -10;
  width: 30%;
  left: 15%;
  margin-top: 25%;
}

#cloud1 {
  position: absolute;
  left: 45%;
  margin-top: 7%;
}

.giant-about-me-div {
  height: fit-content;
  width: 50%;
  position: relative;
  margin-top: 20%;
  float: right;
  right: -6%;
  transition: transform 0.6s ease-in-out;
  transform: scale(1);
}
.giant-about-me-div:hover {
  transform: scale(1.02);
}
.giant-about-me-div .bg {
  width: 100%;
  position: absolute;
  z-index: -10;
}
.giant-about-me-div div {
  margin-left: 15%;
  margin-top: 12%;
  position: relative;
  display: flex;
  align-content: center;
}
.some-info {
  margin-left: 15%;
  display: block;
  text-align: center;
  padding: 10%;
  padding-top: 3%;
  color:#1700d1;
  font-size: 1.5vw;
  line-height: 1.5;
}
.giant-about-me-div div span {
  width: 50%;
  text-align: center;
  margin-top: 5%;
  height: fit-content;
  h1 {
    font-family: "Playfair-Italic";
    color:#1700d1;
    font-weight: bolder;
    letter-spacing: 4px;
    font-size: 3vw;
  }
  h2 {
    font-family: "Playfair-Italic";
    color:#1700d1;
    font-weight: bolder;
    letter-spacing: 4px;
    font-size: 1.5vw;
    margin-bottom: 10%;
  }
  h4 {
    color:#1700d1;
    font-size: 1.25vw;
    line-height: 1.5;
  }
}
.me-img {
  width: 40%;
  margin-left: 5%;
  margin-top: 5%;
  border: 1vw solid #5064a7;
}


.space-cat-div {
  height: fit-content;
  width: 20%;
  position: relative;
  margin-top: 60%;
  left: 15%;
  transform: scale(1);
  animation-name: rotate-div;
  animation-duration: 2s; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  .bg {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -10;
  display: block;
    margin: auto;
  }

  .cat {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 50%;
  }

  .balloon {
    position: absolute;
    width: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 15%;
  }
}


#cloud2 {
  position: absolute;
  left: 30%;
  margin-top: 60%;
  z-index: 10;
}

.discord {
  width: 10%;
  position: absolute;
  float: right;
  right: 40%;
  margin-top: 12%;
  z-index: 10;
  transform: scale(1);
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.discord:hover {
  transform: scale(1.1) rotate(-10deg);
}

.text-window-div {
  height: fit-content;
  width: 60%;
  position: relative;
  margin-top: 85%;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-50%);
  transform: scale(1);
  transition: transform 0.6s ease-in-out;
  text-align: center;
  .bg {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -10;
  display: block;
    margin: auto;
  }
  div {
    text-align: left;
    width: 70%;
    padding: 5%;
    padding-left: 7%;
    padding-top: 15%;
    position: relative;
    color:#1700d1;
    h1 {
      font-family: "Playfair-Italic";
      font-weight: bolder;
      letter-spacing: 4px;
      font-size: 3vw;
      margin-bottom: 3%;
      margin-left: 5%;
    }
    ul {
      line-height: 1.5;
      font-size: 1.25vw;
      li ul {
        margin-left: 5%;
      }
    }
  }
  
}
.text-window-div:hover {
  transform: scale(1.02);
}

.ending {
  position: relative;
  margin-top: 200%;
  
}

/* specifically for projects.html */
.project-div {
  width: 60%;
  height: fit-content;
  margin: 20px auto;
  margin-top: 50px;
  overflow: hidden;
  padding-top: 0px;
  padding-left: -2px;
  padding-right: -2px;
  background-color: #fffefc;
  border-radius: 4px;
  border-width: 10px;
  border: solid;
  border-color: #726dd3;
  box-sizing: border-box;
}

.project-left {
  margin-left: 10%;
}

.project-left .project-title, .project-left .project-blurb {
  margin-left: 40px;
}

.project-right {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.project-right .project-title, .project-right .project-blurb {
  margin-right: 40px;
  text-align: right;
}

.project-bar {
  width: calc(fit-content + 4px);
  box-sizing: border-box;
  background-color: #a6a2ff;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 20px;
  margin-top:-2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 4px;
  border-width: 10px;
  border: solid;
  border-color: #726dd3;
}

.project-bar div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#projects-title {
  margin-top: 30px;
  text-align: center;
  font-size: 60px;
  color: white;
  font-family: 'Romantics';
  letter-spacing: 2px;
}

.project-img {
  height: 90%;
  width: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.proj-flex-container {
  height: 50vh;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  gap: 10%;
}

.project-right .proj-flex-container {
  justify-content: flex-end;
  gap: 10%;
}

.project-desc {
  margin-right: 50px;
}

body {
  
  background: linear-gradient(120deg, #8992dd, #d2bbd8, #fecacc, #fecacc);
  background-repeat: no-repeat;
  background-attachment: scroll;
  cursor: url('src/mouse_cursor.png'), auto;
}

/* for contact.html */

#contact-title {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 60px;
  color: white;
  font-family: 'Romantics';
  letter-spacing: 2px;
}

/* form inputs */
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical;
}

/* submit button */
input[type=submit] {
  background-color: #aaaaf9;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #aaaaf9;
}

/* form container */
.container {
  border-radius: 5px;
  background-color: #ccccff;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  width: 80%;
}

/* stars */

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

    @-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@keyframes slide-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes slide-bg2 {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}

.stars {
 background: transparent url("/src/stars.png") repeat;
 position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: -1000;
  background-repeat: repeat;
  animation: slide-bg 200s linear infinite;
}

.stars2 {
  transform: rotate(45deg);
  animation: slide-bg2 240s linear infinite;
}

.grid {
  background: transparent url("/src/grid.png") repeat;
  opacity: 100%;
  position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: -100;
  background-repeat: repeat;
}